.shape {
    width: 200px;
    height: 50px;
    background-color: lightblue;
    margin: 10px 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    flex-direction: column;
    padding: 10px 10px;
  }

  .shape1 {
    background-color: lightpink;
}

.shape6 {
    background-color: lightgreen;
    display: flex;
    justify-content: flex-start;
}

.shape9 {
    background-color: lightgreen;
    display: flex;
    justify-content: flex-start;
}